img.img-thumbnail {
  max-height: 150px;
  max-width: 150px;
}

div.row {
  padding-top: 20px;
  padding-bottom: 20px;
}

body {
	background-color: gray;
}

.container {
	color: white;
	background-color: gray;
}

#tabs a:hover {
	background-color: gray;
	color: white;
	
}

.jumbotron {
	background-color: gray;
}